
TrabalhoFinal/Seek The Light/Assets/ExternalAssets/Polytope Studio/Lowpoly_Characters/SRP/PT_Doctor_URP_10.10.1.unitypackage.meta
TrabalhoFinal/Seek The Light/Assets/ExternalAssets/Polytope Studio/Lowpoly_Characters/SRP/PT_Doctor_URP_12.1.10.unitypackage.meta
TrabalhoFinal/Seek The Light/Assets/ExternalAssets/Polytope Studio/Lowpoly_Weapons/SRP/PT_Weapons_URP_10.10.1.unitypackage.meta
TrabalhoFinal/Seek The Light/Assets/ExternalAssets/Polytope Studio/Lowpoly_Weapons/SRP/PT_Weapons_URP_12.1.10.unitypackage.meta
